:root {
  --header: hsl(220, 23%, 18%);
  --bg: hsl(220, 23%, 20%);
  --table: hsl(220, 23%, 25%);
  --error: hsl(32, 90%, 44%);
  --success: hsl(134, 61%, 41%);
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  background-color: var(--header);
  position: fixed;
  width: 100%;
  display: flex;
}

.app-header nav {
  flex-basis: 100%;
}

.app-header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.app-header ul li:first-of-type {
  padding: 0;
  padding-right: 4rem;
}

.app-header ul li {
  padding: 0 1rem;
}
.app-header ul li a {
  text-decoration: none;
  color: white;
}

.app-letter,
.app-resume,
.app-contact {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem;
}

.intro,
.app-contact {
  min-height: 75vh;
}
/* Error boundary start */
.error {
  min-height: 100vh;
}

.error h3 {
  font-size: 1rem;
}
/* Error boundary end */
.app-letter img {
  margin: 0 auto;
}

.app-title {
  flex-basis: 100%;
  margin-top: auto;
  text-align: center;
}

.letter-text {
  flex-basis: 50%;
}

table {
  width: 100%;
  background-color: var(--table);
}

thead {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

thead th {
  padding: 12px 0;
}

tbody td {
  text-align: center;
}

.form-title {
  flex-basis: 100%;
  margin-top: auto;
}

form {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

label {
  font-size: calc(6px + 2vmin);
  margin-bottom: 0.5rem;
}

label:nth-of-type(2) {
  margin-top: 1rem;
}

legend {
  font-style: italic;
  font-size: calc(2px + 2vmin);
  margin: 0.5rem 0;
  color: var(--error);
}

legend:nth-of-type(2) {
  margin-bottom: 1rem;
}

textarea {
  height: 150px;
  font-family: arial;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--header) !important;
  border: 1px solid var(--table);
  color: white;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: whitesmoke;
}

input.danger,
textarea.danger {
  border-color: var(--error);
}
/* Autofill styles */
input:valid,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--header) inset;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  margin-top: 1rem;
  padding: 1rem 0;
}

.form-blurb {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 0;
}

button[type="submit"] {
  border: none;
  font-size: 1.2rem;
}
/* On click, move button */
button[type="submit"]:active {
  transform: translateY(5px);
}

button.danger {
  background-color: var(--error);
  pointer-events: none;
}

button.success {
  background-color: var(--success);
}
/* Skeleton */
.person-placeholder {
  padding: 150px 4rem;
  display: flex;
  justify-content: space-between;
}

.cv-placeholder {
  padding: 75px 4rem;
}

.form-placeholder {
  padding: 75px 4rem;
}

.text-row,
.rect-shape {
  background-color: var(--header) !important;
}
